@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
variables
bg-[#e2e2e2]
*/
.list{
  list-style: none;
  color: #e2e2e2;
}
.section-2-cont{
  width: clamp(320px,90%,1200px);
  margin: auto;
  box-shadow: 3px -3px 8px gray;
}
.endure-btn{
  box-shadow: 3px -3px 8px gray;
  transition: .2s;
  &:active{
    box-shadow: none;
    transform: scale(.95);
  }
}
.poster-cont{
  mix-blend-mode: multiply;
}
.logo{
  height: 50px;
  width: 80px;
  border-radius: 25px;
  overflow: hidden;
}
.logo img{
  height: 100%;
  width: 100%;
}
.bottle-poster:hover{
  transform: scale(1.2);
}
.bottle-poster:hover ~ .poster{
  animation: slide .9s ease-in-out;

}
.footer{
  background: linear-gradient(to right, #232323,transparent,#232323);
}
@media (width<600px){
  .red-card{
    flex-direction: column;
  }
}